# Cleaning Interconnection
Net interconnection isn't always defined

In [14]:
import pandas as pd
import sys
import os
sys.path.insert(0, os.path.abspath('../')) 
from lib.common import constants as k

data = pd.read_csv(k.RAW_DATA_DIR / 'eirgrid' / 'interconnection_all.csv', index_col=0)
data

              EffectiveTime    FieldName Region  Value
0       2013-11-01 00:00:00  INTER_MOYLE     NI  176.0
1       2013-11-01 00:15:00   INTER_EWIC    ROI  336.0
2       2013-11-01 00:30:00  INTER_MOYLE     NI  175.0
3       2013-11-01 00:45:00   INTER_EWIC    ROI  282.0
4       2013-11-01 01:00:00    INTER_NET    ALL  457.0
...                     ...          ...    ...    ...
356444  2023-12-31 23:00:00  INTER_MOYLE     NI    NaN
356445  2023-12-31 23:15:00    INTER_NET    ALL    NaN
356446  2023-12-31 23:30:00   INTER_EWIC    ROI    NaN
356447  2023-12-31 23:45:00    INTER_NET    ALL    NaN
356448  2024-01-01 00:00:00    INTER_NET    ALL    NaN

[356449 rows x 4 columns]

In [22]:
df = data.pivot_table(index='EffectiveTime', columns='FieldName', values='Value')
df['INTER_EWIC'] = df['INTER_EWIC'].fillna(0)
df['INTER_MOYLE'] = df['INTER_MOYLE'].fillna(0)
mask = pd.isna(df['INTER_NET'])
net_ic = df['INTER_EWIC'] - df['INTER_MOYLE']
df.loc[mask, 'INTER_NET'] = net_ic[mask]
df = df.reset_index()
df = df.melt(id_vars='EffectiveTime', var_name='FieldName', value_name='Value')
df = df.loc[df['FieldName'] == 'INTER_NET']
df

               EffectiveTime  FieldName  Value
711980   2013-11-01 00:00:00  INTER_NET -176.0
711981   2013-11-01 00:15:00  INTER_NET  336.0
711982   2013-11-01 00:30:00  INTER_NET -175.0
711983   2013-11-01 00:45:00  INTER_NET  282.0
711984   2013-11-01 01:00:00  INTER_NET  457.0
...                      ...        ...    ...
1067965  2023-12-28 21:00:00  INTER_NET  318.0
1067966  2023-12-28 21:15:00  INTER_NET  -76.0
1067967  2023-12-28 21:30:00  INTER_NET   -1.0
1067968  2023-12-28 21:45:00  INTER_NET  247.0
1067969  2023-12-28 22:00:00  INTER_NET  321.0

[355990 rows x 3 columns]